
@{
    ViewBag.Title = "AboutPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Body
{
    <h2>AboutPage</h2>
    <p>
        Контент сторінки про нас
    </p>
}
@section Footer
{
    <footer>
        All rights resorved - <a href=" https://t.me/mirage_2000">Founder</a>
    </footer>
}

