
@{
    ViewBag.Title = "HomePage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Body
{
    <h2>Home Page</h2>

      

    <p>
        Контент домашньої сторінки
    </p>
}

@section Footer
{
    <footer>
        All rights resorved - <a href=" https://t.me/mirage_2000">Founder</a>
    </footer>
}
