
@{
    ViewBag.Title = "NewsPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Body
{
    <h2>NewsPage</h2>
    <p>
        Контент сторінки новин
    </p>
}
@section Footer
{
    <footer>
        All rights resorved - <a href=" https://t.me/mirage_2000">Founder</a>
    </footer>
}

